<div class="home">
	<div class="hero text-center">
		<div class="info">
			<h1>Comunicação Visual de Forma <span class="easy">Easy</span></h1>
			<h3>Crie seu anúncio de forma fácíl e eficiente</h3>
			<a href="/como-funciona" class="large button download-hero">Como funciona?</a>
			<a ng-if="user.name == null" href="/signup" class="large button singup-hero">Cadastrar-se</a>
		</div>
	</div>
	
	<div class="row where text-center">
		<h1>Onde Quer Publicar?</h1>
		<div class="medium-2 small-6 columns">
			<div class="round-icon">
				<span class="fi-book "></span>
			</div>
			<h3>Revistas</h3>
		</div>
		<div class="medium-2 small-6 columns">
			<div class="round-icon">
				<span class="fi-laptop"></span>
			</div>
			<h3>Banners</h3>
		</div>
		<div class="medium-2 small-6 columns">
			<div class="round-icon">
				<span class="fi-monitor"></span>
			</div>
			<h3>Flayers</h3>
		</div>
		<div class="medium-2 small-6 columns">
			<div class="round-icon">
				<span class="fi-projection-screen"></span>
			</div>
			<h3>Outdoors</h3>
		</div>
		<div class="medium-2 small-6 columns">
			<div class="round-icon">
				<span class="fi-at-sign"></span>
			</div>
			<h3>Internet</h3>
		</div>
		<div class="medium-2 small-6 columns">
			<div class="round-icon">
				<span class="fi-graph-trend"></span>
			</div>
			<h3>Posters</h3>
		</div>
		<div class="medium-12 columns">
			<a href="/como-funciona" class="read-more-link">Veja como funciona ></a>
		</div>
	</div>

	<div class="section break break1 text-center">
		<h1><i>“se tivesse apenas um dólar, investiria em propaganda”.</i></h1>
		<h3>Henry Ford</h3>
	</div>
	
	<div class="row features">
		<div class="medium-4 columns">
			<div class="round-icon">
				<span class="fi-laptop"></span>
			</div>
			<h3>Descreva seu Produto</h3>
			<hr>
			<p>Conte do que e como você quer o seu design.</p>
		</div>
		<div class="medium-4 columns">
			<div class="round-icon">
				<span class="fi-lightbulb"></span>
			</div>
			<h3>Escolha Seu Favorito</h3>
			<hr>
			<p>Dentre diversos projetos, de feedback para os designers e escolha seu projeto favorito.</p>
		</div>
		<div class="medium-4 columns">
			<div class="round-icon">
				<span class="fi-shuffle"></span>
			</div>
			<h3>Trabalhe com o Designer</h3>
			<hr>
			<p>Ajuste os ultimos detalhes diretamente com o designer escolhido.</p>
		</div>
		<div class="medium-12 columns">
			<h1>Criar o seu anúncio é Fácil</h1>
			<a class="large button download-hero" href="/competicoes">Veja as competições</a>
		</div>
	</div>

	<div class="section break break2 text-center">
		<h1><i>“Lucro é subproduto das coisas bem-feitas.”.</i></h1>
		<h3>Philip Kotler</h3>
	</div>
	
	<div class="what-is section text-center">
		<h1>O Que é Easy AD?</h1>
		<div class="row">
			<div class="panel large-4 medium-5 large-push-1 columns">
				<div class="round-icon">
					<span class="fi-torsos-all icon-fi"></span>
				</div>
				<h5>Plataforma Crowdsourcing.</h5>
				<p>Crowdsourcing é um modelo de criação e/ou produção, que conta com a mão-de-obra e conhecimento coletivos, para 				desenvolver soluções e criar produtos.</p>
			</div>
			<div class="panel large-4 medium-5 large-pull-1 columns">
				<div class="round-icon">
					<span class="fi-dollar icon-fi"></span>
				</div>
				<h5>Qualidade a um preço acessível.</h5>
				<p>Contamos com uma comunidade de talentosos profissonais que farão com que seu produto receba o marketing que você sempre sonhou.</p>
			</div>
		</div>
	</div>
	
	<div class="section break break3 text-center">
		<a ng-if="user.name == null" class="large button download-hero" href="/signup" class="read-more-link">Comece agora ></a>
		<a ng-if="user.name != null" class="large button download-hero" href="competicoes/novo/" class="read-more-link">Comece agora ></a>
	</div>
	
</div>