<html ng-cloak ng-app="sampleApp" ng-controller="MainController" class="ng-cloak">
  <head>
  	<base href="/index.html">
    <title>EasyAd - Comunicação Visual de Forma Easy</title>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"> 
		<link rel="stylesheet" href="/bower_components/foundation/css/foundation.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/how-it-works.css">
		<link rel="stylesheet" href="/assets/css/designers.css">
		<link rel="stylesheet" href="/assets/css/competitions.css">
		<link rel="stylesheet" href="/assets/css/contest/new-contest.css">
		<link rel="stylesheet" href="/assets/css/contest/contest-projects.css">
		<link rel="stylesheet" href="/assets/css/contest/detail.css">
		<link rel="stylesheet" href="/assets/css/project/new-project.css">
		<link rel="stylesheet" href="/assets/css/user/user.css">
		<link rel="stylesheet" href="/assets/css/user/edit.css">
		<link rel="stylesheet" href="/assets/css/contact.css">
		<link rel="stylesheet" href="/assets/css/header-login-signup.css">
		<link href="/bower_components/lightbox2/dist/css/lightbox.css" rel="stylesheet">

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/foundation/js/foundation.min.js"></script>	
		<script src="./bower_components/quickblox/quickblox.min.js"></script>
    <script src="js/controllers/UserCtrl.js"></script>
		<script src="js/services/UserService.js"></script>
		<script src="js/controllers/MainCtrl.js"></script>
		<script src="js/controllers/ContestCtrl.js"></script>
		<script src="js/services/ContestService.js"></script>
		<script src="js/controllers/ProjectCtrl.js"></script>
		<script src="js/services/ProjectService.js"></script>
		<script src="js/services/PageService.js"></script>
		<script src="js/appRoutes.js"></script>
		<script src="js/app.js"></script>
		<script>
			$(document).foundation();
		</script>
		<!-- Google Analytics-->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-72861123-1', 'auto');
			ga('send', 'pageview');

		</script>
		<!--End Google Analytics -->
		<link rel="shortcut icon" href="/public/assets/images/icons/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/public/assets/images/icons/favicon.ico" type="image/x-icon">
  </head>
  <body>
		<nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
				<li class="name">
					<h1><a href="/">EasyAd<i class="beta"> (beta)</i></a></h1>
				</li>
				 <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>

			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul ng-if="user == null || user.name == undefined" class="right">
					<li class="divider"></li>
					<li><a href="/signup">Registre-se</a></li>
					<li class="divider"></li>
					<li><a href="/login">Entrar</a></li>
				</ul>
				<ul ng-if="user.name != undefined" class="right">
					<li><a ng-href="/competicoes/novo">+ Competição</a></li>
					<li class="divider"></li>
					<li class="has-dropdown">
						<a href="">{{user.name}}</a>
						<ul class="dropdown">
							<li><a ng-href="/perfil/{{user.name}}">Perfil</a></li>
							<li><a ng-href="/perfil/edit/{{user.name}}">Editar perfil</a></li>
							<li><a ng-click="logout()" href="">Sair</a></li>
						</ul>
					</li>
				</ul>

				<!-- Left Nav Section -->
				<ul class="left">
					<li><a href="/como-funciona">Como Funciona</a></li>
					<li><a href="/competicoes">Competições</a></li>
					<li><a href="/designers">Designers</a></li>
				</ul>
			</section>
		</nav>
		<!-- ANGULAR DYNAMIC CONTENT -->
		<div ng-view><a class="exit-off-canvas"></a>
		</div>
		
			<footer class="footer">
				<div class="row">
					<div class="small-12 columns">
						<p class="slogan">EasyAd</p>
						<p class="links">
							<a href="/">Home</a>
							<a href="/como-funciona">Como funciona</a>
							<a href="/competicoes">Competições</a>
							<a href="/designers">Designers</a>
							<a href="/contato">Faq</a>
							<a href="/contato">Fale conosco</a>
						</p>
						<p class="copywrite">Made with Love and JS by <br>Marlon Diego Casagranda França © 2015</p>
					</div>
				</div>
		</footer>	
		<script>
			$(document).foundation();
		</script>
  </body>
</html>