[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

ul{
	list-style: none;
}

.top-bar-section ul li > a{
	font-size: 1em;
}
.top-bar .name h1{
	font-size: 24px;
	font-family: 'PT Sans' !important;
}
.name h1 a{
	color: #5bbc2e !important;
}

.hero{
	background-image: url("/assets/images/hero3.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 80vh;
	width: 100%;
}

.hero .info {
	padding-top: 150px;	
}

.hero .info h1, .hero .info h3{
	color: #fff;
	font-family: 'PT Sans' !important;
}

.hero .info h3{
	margin-bottom: 80px;
}

.hero .info .singup-hero {
	margin-left: 10px;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
}
.hero .info .singup-hero:hover {
	background-color: #5bbc2e;
	border-color: #5bbc2e;
}
.home .section{
	min-height: 420px;
	height: auto;
}

.home .section h1{
	font-family: 'PT Sans' !important;
	margin-top: 15px;
	color: #575757;
}

.home .what-is .round-icon {
	border: 3px solid;
	border-radius: 50%;
	display: table;
	height: 80px;
	margin: 20px auto 1rem;
	width: 80px;
	font-size: 3rem; }

.icon-fi:before{
	margin-top: 15px;
}

.home .what-is .row{
	margin-top: 40px;
}

.home .what-is .panel{
	border-radius: 3px;
}
.home .what-is .panel img{
	border: 2px solid;
	padding: 11px;
	border-radius: 30px;
	margin-bottom: 5px;
}

.home .what-is .panel h5{
	font-family: "PT Sans";
	font-size: 22px;
	color: #608c28;
	font-weight: bold;
	width: auto;
	font-style: italic;
}

.home .break{
	background-repeat: no-repeat;
	background-size: cover; 
}

.home .break1{
	background-image: url("/assets/images/break2.jpg");
}

.home .break2{
	background-image: url("/assets/images/break6.jpg");
}

.home .break3{
	background-image: url("/assets/images/break5.png");
	margin-bottom: 30px;
}

.home .break3 .button {
	margin-top: 15%;
}

.home .break h1{
	color: #fff;
	font-family: "PT Sans";
	padding-top: 160px;
}

.home .break h3{
	color: #fff;
	font-family: "PT Sans";
}

.home .what-you-can-do, .home .how-it-works{
	min-height: 300px;
	height: auto;
}

.home .what-you-can-do h1, .home .how-it-works{
	font-family: "PT Sans";
	margin-top: 15px;
	color: #575757;
}

.home .what-you-can-do ul, .home .how-it-works ul{
	margin-top: 40px;
}

.home .what-you-can-do ul li img{
	display: block;
	margin: auto;
}
.home .what-you-can-do ul li span{
	font-size: 20px;
	color: #608c28;
}

.read-more-link{
	font-size: 18px;
	color: #608c28;
	font-weight: 700;
  margin: 30px 0;
	display: block;
}

.where {
  text-align: center; }
	.where h1{
		font-family: "PT Sans";
		margin-top: 15px;
		color: #575757;}
  .where hr {
    width: 25%;
    margin: 1rem auto; }
  .where .round-icon {
    background-color: #E87E04;
    border-radius: 50%;
    display: table;
    height: 80px;
    margin: 20px auto 1rem;
    width: 80px;
    font-size: 3rem; }
    .where .round-icon span {
      color: #fff;
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
	.where h3{
		font-family: "PT Sans";
		font-size: 18px;
	}

.features {
  text-align: center; }
	.features h1{
		font-family: "PT Sans";
		margin-top: 15px;
		color: #575757;}
  .features hr {
    width: 25%;
    margin: 1rem auto; }
  .features .round-icon {
    background-color: #E87E04;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: -61px auto 1rem;
    width: 100px;
    font-size: 3rem; }
    .features .round-icon span {
      color: #fff;
      display: table-cell;
      text-align: center;
      vertical-align: middle; }

.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 3rem; }
.footer p.slogan {
	color: #608c28;
	font-size: 1.8rem;
	margin: 0 0 1rem; }
.footer p.copywrite {
	color: #8f9296;
	font-size: 0.875rem;
	margin: 0; }
.footer .links a {
	list-style: none;
	font-weight: bold;
	color: #ffffff;
	padding: 3rem 0 2rem;
	margin: 0; }
	.footer .links a::after {
		content: "•";
		padding: 0 0.4rem 0 0.8rem; }
	.footer .links a:last-child::after {
		content: "";
		padding: 0 0.4rem 0 0.8rem; }
.login-page {
	margin: 30px auto;
	min-height: 60vh;
}

.login-page .options {
	padding: 10px;
}

.user-profile {
	margin-bottom: 30px;
	min-height: 60vh;
}

.hero .info .easy {
	color: #5bbc2e !important;
}

.inquire{
	padding-top: 30px;
	padding-bottom: 60px;
	background: #f4f4f6;
	position: relative;
	z-index: 1;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 630px)and (-webkit-min-device-pixel-ratio: 2) {
	.hero{
		height: 95vh;
	}
	
	.hero .info {
		padding: 50px 15px;}
	
	.hero .info h3{
		margin-bottom: 30px;}
	
	.hero .info .singup-hero{
		margin: 0;}
	
	.features .columns {
		margin-bottom: 70px;}
	.footer{
		padding: 0;
	}
	.footer .links a{
		padding: 0;
	}
	.home .break3 .button {
	  margin-top: 45%;}
}


.beta {
	font-size: 16px;
	color: #E87E04;
}
