<div class="new-contest" data-ng-controller="ContestController" data-ng-init="new()">
	<div class="section text-center header-info">
		<div class="info">
			<h1>Crie sua Competição</h1>
			<h3>É fácil começar sua competição</h3>
		</div>
		<hr>
	</div>

	<div class="row">
  <div class="large-4 small-12 columns">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Banner Estático</h4>
      <p class="service-description">É composto de imagens fixas. Eles atraem a atenção do cliente e os induz ao clique
			<a href="competicoes/novo/step2/static" class="button next-step">R$ 299,00</a>
			</p>
    </div>
  </div>
		
		<div class="large-4 small-12 columns">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Banner Dinâmico</h4>
      <p class="service-description">Possue algum tipo de ação, tendo mais quadros consegue veicular muito mais informação e maior impacto visual. 
				<a href="competicoes/novo/step2/dinamico" class="button next-step">R$ 499,00</a>
			</p>
    </div>
  </div>
		
		<div class="large-4 small-12 columns">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Folheto</h4>
      <p class="service-description">Imagens impactantes e mensagens rápidas com alta capacidade de espalhamento e de captação de clientes.
			<a href="competicoes/novo/step2/flayer" class="button next-step">R$ 399,00</a>
			</p>
    </div>
  </div>
		
		<div class="large-4 small-12 columns">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Poster</h4>
      <p class="service-description">Ideais para representção de trabalhos científicos e pesquisas em congressos ou conferências
			<a href="competicoes/novo/step2/poster" class="button next-step">R$ 499,00</a>
			</p>
    </div>
  </div>
		
		<div class="large-4 small-12 columns">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Outdoor</h4>
      <p class="service-description">É a forma mais eficiente e rápida de se massificar o tema de uma campanha ou produto.
				<a href="competicoes/novo/step2/outdoor" class="button next-step">R$ 499,00</a>
			</p>
    </div>
  </div>
		
	<div class="large-4 small-12 columns">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Revistas/Jornais</h4>
      <p class="service-description">Revistas/Jornais são os meios de comunicação com maior nível de atenção exclusiva
				<a href="competicoes/novo/step2/news" class="button next-step">R$ 399,00</a>
			</p>
			
    </div>
  </div>
	<!--
	<div class="large-4 small-12 columns end">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Apps</h4>
      <p class="service-description">Diferentes tipos de banner para apps
				<a href="competicoes/novo/step2/apps" class="button next-step">R$ 399,00</a>
			</p>
    </div>
  </div>-->
		
	<div class="large-4 small-12 columns end">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Capa p/ Facebook</h4>
      <p class="service-description">Faça uma foto de capa para sua linha de tempo
				<a href="competicoes/novo/step2/facebook-cover" class="button next-step">R$ 299,00</a>
			</p>
    </div>
  </div>
		
	<div class="large-4 small-12 columns end">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Folder</h4>
      <p class="service-description">Apresentar conteúdo de forma concisa e eficiente
				<a href="competicoes/novo/step2/folder" class="button next-step">R$ 699,00</a>
			</p>
    </div>
  </div>
		
	<div class="large-4 small-12 columns end">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Fachada</h4>
      <p class="service-description">A fachada de um projeto residencial ou comercial é, na verdade, a cara do projeto em si.
				<a href="competicoes/novo/step2/frontage" class="button next-step">R$ 399,00</a>
			</p>
    </div>
  </div>
	
	<div class="large-4 small-12 columns end">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Embalagem</h4>
      <p class="service-description">Principal elemento de conexão e de comunicação entre o consumidor, o produto e a marca.<br>
				<a href="competicoes/novo/step2/frontage" class="button next-step">R$ 499,00</a>
			</p>
    </div>
  </div>
		
	<div class="large-4 small-12 columns end">
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Outros</h4>
      <p class="service-description">Não encontrou o que queria? Entre em contato conosco que podemos fazer um pacote especial.<br>
				<a href="/contato" class="button next-step">Entre em contato</a>
			</p>
    </div>
  </div>
		
</div>

</div>